    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>    
            <p>
              <label>类别</label>
              <select name='category' disabled="disabled">
                 <?php 
                  foreach($category as $k=>$v){
                    if($v['id']==$row['category']){
                        echo '<option value="'.$v['id'].'" selected="selected">'.$v['name']."</option>";
                    }else{
                        echo '<option value="'.$v['id'].'">'.$v['name']."</option>";
                    }
                  }
                
                ?>
              </select>
            </p>            
           
            <p>
              <label>内容</label>
              <script id="editor" name="content" type="text/plain" style="width:960px;height:500px;"><?=$row['content']?></script>
            </p>
            
            <p>
              <label>图片</label>
              <img src="<?=$row['image']?>" alt="..."><br>
              <input type="file" name="editfile" />
            </p>
            
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
   
	    