 <table>
        <thead>
          <tr>
           
            <th>类别</th>           
            <th>内容</th>
            <th>更新时间</th>
             <th>操作</th>
          </tr>
        </thead>
       
        <tbody>
        <?php foreach($rows as $value): ?>
          <tr>
            
            <td><?=$value['name'];?></td>
           
            <td><?=mb_substr(strip_tags($value['content']),0,50,'utf8');?></td>
            <td><?=date('Y-m-d',$value['time']);?></td>
            <td>              
              <a href="javascript:;"  onclick="editOne('<?=$value['id'];?>','<?=$curpage;?>')" title="编辑">
              <img src="resources/images/icons/pencil.png" alt="Edit" /></a> 
                 
            </td>
          </tr>
         <?php endforeach; ?>
        </tbody>
      </table>