

		<link rel="stylesheet" href="css/address.css" />

		<script type="text/javascript" src="js/address.js" ></script>

		<title>收货地址</title>


	<body>

		<!--header-->
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="login">
						<ul class="nav-pills">
							<li>
								<a href="{:U('login/login')}">登录</a>
							</li>
							<li>丨</li>
							<li>
								<a href="{:U('register/register')}">注册</a>
							</li>
						</ul>
					</div>
					<div class="car">
						<a href="{:U('product/shop_cart')}">
							<img src="images/index_img/car.png" /> 我的购物车
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->

		<!--nav-->
		<div class="main_nav">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
						<div class="logo">
							<a href="{:U('index/index')}"><img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" /></a>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{:U('index/index')}">首页</a></li>
							<li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>
							<li><a href="{:U('news/news')}">新闻中心</a></li>
							<li><a href="{:U('product/pro_list')}">产品中心</a></li>
							<li><a href="{:U('contact/contact_us')}">联系我们</a></li>
							<li><a href="{:U('user/user')}">会员中心</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--nav end-->



		<!--content-->

		<div class="content">

			<div class="container">

				<div class="locative">
					<p>

						您现在位置：

						<a href="{:U('product/shop_cart')}">我的购物车</a>

						>收货地址

					</p>

				</div>

				<form class="address">

					<div class="main">

						<div class="text">
							<p>收货地址</p>
						</div>
							<div class="city">

								<div class="left">	

									<label class="active c-radio">

										<span class="address_one">地址&nbsp;&nbsp;</span>

										<span class="first">

											<span class="second">

												<input type="radio" checked="checked" />

											</span>

										</span>

										<span class="word">

											<span>北京市</span> 

											<span>海淀区</span> 

											<span>五道口  </span> 

											<span>新东源股份社西楼110号</span>   

											<span>（张博凯收）</span>

											<span>134528412341</span>

										</span>

										<div class="right">

											<span class="default">默认地址</span>

											<span><a href="###">修改地址</a></span>

										</div>

									</label>

								</div>

								<div class="left">	

									<label class="c-radio">

										<span class="address_one">地址&nbsp;&nbsp;</span>

										<span class="first">

											<span>

												<input type="radio" />

											</span>

										</span>

										<span class="word">

											<span>北京市</span> 

											<span>海淀区</span> 

											<span>五道口  </span> 

											<span>新东源股份社西楼110号</span>   

											<span>（张博凯收）</span>

											<span>134528412341</span>

											<span class="set"><a href="###">设置默认地址</a></span>

										</span>

										<div class="right">

											<span><a href="###">修改地址</a></span>

										</div>

									</label>

								</div>

								<div class="left">	

									<label class="c-radio">

										<span class="address_one">地址&nbsp;&nbsp;</span>

										<span class="first">

											<span>

												<input type="radio" />

											</span>

										</span>

										<span class="word">

											<span>北京市</span> 

											<span>海淀区</span> 

											<span>五道口  </span> 

											<span>新东源股份社西楼110号</span>   

											<span>（张博凯收）</span>

											<span>134528412341</span>

											<span class="set"><a href="###">设置默认地址</a></span>

										</span>

										<div class="right">

											<span><a href="###">修改地址</a></span>

										</div>

									</label>

								</div>

								<div class="left">	

									<label class="c-radio">

										<span class="address_one">地址&nbsp;&nbsp;</span>

										<span class="first">

											<span>

												<input type="radio"/>

											</span>

										</span>

										<span class="word">

											<span>北京市</span> 

											<span>海淀区</span> 

											<span>五道口  </span> 

											<span>新东源股份社西楼110号</span>   

											<span>（张博凯收）</span>

											<span>134528412341</span>

											<span class="set"><a href="###">设置默认地址</a></span>

										</span>

										<span class="right">

											<span><a href="###">修改地址</a></span>

										</span>

									</label>

								</div>

							</div>

						

						

						<div class="add">
							<a href="###">+新增</a>
						</div>

						<div class="msg">

							<div class="col-md-8 trans">

								<span>运送方式</span>

								<label>
									<input type="radio" checked="checked" />

									<span></span>普通运送方式

								</label>

								<select>

									<option>快递 免邮</option>

									<option>快递 免邮</option>

								</select>

								<span>00.00</span>

								<div class="total">

									<p>合计（含运费）：<span>¥ 96.00</span></p>

									<p>实付款：<span>¥ 96.00</span></p>

								</div>
							</div>

							<div class="col-md-4 message">

								<span>运费险</span>

								<label>

									<input type="checkbox" />购买退货运费险，退货可赔付5元

								</label>

								<p>北京市-海淀区-五道口-新东源股份社西楼110号</p>

								<p>收件人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;张博凯&nbsp;&nbsp;&nbsp;&nbsp;134528412341</p>

							</div>

						</div>

						<div class="submit">

							<a href="pay.html">提交订单</a>

						</div>

				</form>

			</div>

		</div>

		<!--content end-->

		

		
