<div class="banner">
<img src="<?=$banner?>"  /> 
</div>
<div class="pro-center">
<div class="subnav">
<div class="title">
<span></span>
<h2>产品中心</h2>
<h3>PRODUCT</h3>
</div>
<ul>
	<?php foreach($category as $v){ ?>
				<li ><a <?php if($v['id']==$row['category']){ ?>class="current" <?php }?> href="<?=$GLOBALS['currController'].'&a=index&category='.$v['id']?>"><?=$v['name']?></a></li>
			<?php }	?>
</ul>
</div>
<h3> <?=$row['name']?></h3>
<div class="content">
    <?=$row['content']?>
</div>

</div>
