<div class="banner">
<img src="<?=$banner?>"  /> 
</div>
<div class="procenter">
<div class="subnav">
<div class="title">
<span></span>
<h2>产品中心</h2>
<h3>PRODUCT</h3>
</div>
<ul>
  <?php foreach($category as $c){ 
        if($c['id']==$currcate){
            echo "<li><a class='current' href='{$url}{$addfindurl}&category=".$c['id']."'>".$c['name']."</a></li>";
        }else{
             echo "<li><a  href='{$url}{$addfindurl}&category=".$c['id']."'>".$c['name']."</a></li>";
        }        
     } ?>
</div>
<br>
<h4><?=$findstr?></h4>
<ul class="detail">	
    <?php foreach($rows as $row): ?>
     <li>
        <a href="<?=$GLOBALS['currController'].'&a=details&id='.$row['id']?>"><img src="<?=explode('|',$row['images'])[0]; ?>"/><span></span></a>
        <span><a href="<?=$GLOBALS['currController'].'&a=details&id='.$row['id']?>"><?=$row['name'] ?></a></span>
    </li>
    <?php endforeach; ?>
</ul>
</div>
<div class="page">
    <div class="content">
        <ul>
            <li><a class="prev" href="<?=$url.$addfindurl.'&curpage='.$prepage.'&category='.$currcate;?>"><</a></li>
            <?php 
            for($i=$start;$i<=$end;$i++){  
                if($curpage==$i){
                    echo "<li><a class='on' href='".$url.$addfindurl.'&category='.$currcate.'&curpage='.$i."'>$i</a></li>";
                }else{
                    echo "<li><a  href='".$url.$addfindurl.'&category='.$currcate.'&curpage='.$i."'>$i</a></li>";
                } 
            } 
            ?>           
            <li><a class="next" href="<?=$url.$addfindurl.'&curpage='.$nextpage.'&category='.$currcate;?>">></a></li>
        </ul> 

    </div>
</div>