

		<link rel="stylesheet" href="css/collection_page.css" />

		<title>我的收藏</title>

	<body>

		<!--header-->
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="login">
						<ul class="nav-pills">
							<li>
								<a href="{:U('login/login')}">登录</a>
							</li>
							<li>丨</li>
							<li>
								<a href="{:U('register/register')}">注册</a>
							</li>
						</ul>
					</div>
					<div class="car">
						<a href="{:U('purchase/shop_cart')}">
							<img src="images/index_img/car.png" /> 我的购物车
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->

		<!--nav-->
		<div class="main_nav">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
						<div class="logo">
							<a href="{:U('index/index')}"><img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" /></a>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{:U('index/index')}">首页</a></li>
							<li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>
							<li><a href="{:U('news/news')}">新闻中心</a></li>
							<li><a href="{:U('product/pro_list')}">产品中心</a></li>
							<li><a href="{:U('contact/contact_us')}">联系我们</a></li>
							<li><a href="{:U('user/user')}" class="active">会员中心</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--nav end-->



		<!--content-->

		<div class="content">

			<div class="container">
				<div class="row">
					<div class="col-md-3 left_bar">
						<div class="top">

							<a href="###"><img src="images/order_img/head.png" /></a>

							<p>ID:张博凯</p>

						</div>

						<div class="down">
							<ul>
								<li><a href="user.html">会员首页</a></li>

								<li><a href="order.html">我的订单</a></li>

								<li><a href="collection_page.html" class="active">我的收藏</a></li>

								<li><a href="###">购买记录</a></li>

								<li><a href="###">资料设置</a></li>

								<li><a href="###">修改密码</a></li>
							</ul>
						</div>
					</div><!--left_bar end-->

					<div class="col-md-9 right">
						<div class="head"><h3>我的收藏</h3></div>

						<ul class="pro_list">

							<li class="col-md-3 col-sm-3  col-xs-6 list">

								<a href="{:U('product/pro_center')}">
									<img src="images/collection_img/food.jpg" />

								</a>

								<div class="text">

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g  黑胡椒...</a></p>

									<p>¥ 5390.00 </p>

									<p><a href="shop_cart.html" class="add_car">加入购物车</a></p>

								</div>
							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 list">

								<a href="{:U('product/pro_center')}">

									<img src="images/collection_img/food.jpg" />

								</a>

								<div class="text">

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g  黑胡椒...</a></p>

									<p>¥ 5390.00 </p>

									<p><a href="shop_cart.html" class="add_car">加入购物车</a></p>

								</div>

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 list">

								<a href="{:U('product/pro_center')}">

									<img src="images/collection_img/food.jpg" />

								</a>

								<div class="text">

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g  黑胡椒...</a></p>

									<p>¥ 5390.00 </p>

									<p><a href="shop_cart.html" class="add_car">加入购物车</a></p>

								</div>

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 list">

								<a href="{:U('product/pro_center')}">

									<img src="images/collection_img/food.jpg" />

								</a>

								<div class="text">

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g  黑胡椒...</a></p>

									<p>¥ 5390.00 </p>

									<p><a href="shop_cart.html" class="add_car">加入购物车</a></p>

								</div>

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 list">

								<a href="{:U('product/pro_center')}">

									<img src="images/collection_img/food.jpg" />

								</a>

								<div class="text">

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g  黑胡椒...</a></p>

									<p>¥ 5390.00 </p>

									<p><a href="shop_cart.html" class="add_car">加入购物车</a></p>

								</div>

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 list">

								<a href="{:U('product/pro_center')}">

									<img src="images/collection_img/food.jpg" />

								</a>

								<div class="text">

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g  黑胡椒...</a></p>

									<p>¥ 5390.00 </p>

									<p><a href="shop_cart.html" class="add_car">加入购物车</a></p>

								</div>

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 list">

								<a href="{:U('product/pro_center')}">

									<img src="images/collection_img/food.jpg" />

								</a>

								<div class="text">

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g  黑胡椒...</a></p>

									<p>¥ 5390.00 </p>

									<p><a href="shop_cart.html" class="add_car">加入购物车</a></p>

								</div>

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 list">

								<a href="{:U('product/pro_center')}">

									<img src="images/collection_img/food.jpg" />

								</a>

								<div class="text">

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g  黑胡椒...</a></p>

									<p>¥ 5390.00 </p>

									<p><a href="shop_cart.html" class="add_car">加入购物车</a></p>

								</div>

							</li>

						</ul>
					</div><!--right end-->

					

					

					

					

					<div class="end">

						<h3>猜你喜欢</h3>

						<ul>

							<li class="col-md-3 col-sm-3 col-xs-6 like">

								<a href="{:U('product/pro_center')}">

									<img src="images/order_img/like.jpg"  />

								</a>

								<div class="word">

									<span>¥ 2.5</span>

									<span>¥ 3</span>

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g*12条多口味组...</a></p>

									<p>月销：35611</p>

								</div>

								

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 like">

								<a href="{:U('product/pro_center')}">

									<img src="images/order_img/like.jpg"  />

								</a>

								<div class="word">

									<span>¥ 2.5</span>

									<span>¥ 3</span>

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g*12条多口味组...</a></p>

									<p>月销：35611</p>

								</div>

								

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 like">

								<a href="{:U('product/pro_center')}">

									<img src="images/order_img/like.jpg"  />

								</a>

								<div class="word">

									<span>¥ 2.5</span>

									<span>¥ 3</span>

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g*12条多口味组...</a></p>

									<p>月销：35611</p>

								</div>

								

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 like">

								<a href="{:U('product/pro_center')}">

									<img src="images/order_img/like.jpg"  />

								</a>

								<div class="word">

									<span>¥ 2.5</span>

									<span>¥ 3</span>

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g*12条多口味组...</a></p>

									<p>月销：35611</p>

								</div>

							</li>

						</ul>

					</div>
				</div><!--row end-->
			</div><!--container end-->

		</div>

		<!--content end-->

		

		
