

		<link rel="stylesheet" href="css/order_details.css" />

		<title>订单详情</title>


	<body>

		<!--header-->
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="login">
						<ul class="nav-pills">
							<li>
								<a href="{:U('login/login')}">登录</a>
							</li>
							<li>丨</li>
							<li>
								<a href="{:U('register/register')}">注册</a>
							</li>
						</ul>
					</div>
					<div class="car">
						<a href="{:U('purchase/shop_cart')}">
							<img src="images/index_img/car.png" /> 我的购物车
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->

		<!--nav-->
		<div class="main_nav">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
						<div class="logo">
							<a href="{:U('index/index')}"><img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" /></a>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{:U('index/index')}">首页</a></li>
							<li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>
							<li><a href="{:U('news/news')}">新闻中心</a></li>
							<li><a href="{:U('product/pro_list')}">产品中心</a></li>
							<li><a href="{:U('contact/contact_us')}">联系我们</a></li>
							<li><a href="{:U('user/user')}" class="active">会员中心</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--nav end-->



		<!--content-->

		<div class="content">

			<div class="container">
				<div class="row">
					<div class="col-md-3 left_bar">
						<div class="top">

							<a href="###"><img src="images/order_img/head.png" /></a>

							<p>ID:张博凯</p>

						</div>

						<div class="down">
							<ul>
								<li><a href="user.html">会员首页</a></li>

								<li><a href="order.html" class="active">我的订单</a></li>

								<li><a href="collection_page.html">我的收藏</a></li>

								<li><a href="###">购买记录</a></li>

								<li><a href="###">资料设置</a></li>

								<li><a href="###">修改密码</a></li>
							</ul>
						</div>
					</div><!--left_bar end-->

					<div class="col-md-9 right">
						<div class="head">

							<p>

								<a class="word">订单详情</a>

								<a href="order.html">我的订单></a>	

							</p>

						</div>

						<div class="list">
							<div class="col-md-6 list_left">
								<a href="{:U('product/pro_center')}"><img src="images/order_details_img/details.jpg"/></a>

								<p><a href="{:U('product/pro_center')}">美味实惠好吃美味实惠好吃美味实惠美味实美味实惠好吃美味实惠好吃美味实惠好吃美味实惠好吃...</a></p>
							</div>

							<dl class="col-md-6 list_right">
								<dd>24.00</dd>
								<dd class="num">

									<a href="javascript:void(0)" class="btn-left">-</a>

									<input type="text" value="1" readonly="readonly" />

									<a href="javascript:void(0)" class="btn-right">+</a>

								</dd>

								<dd class="total">

									<span>共计：</span>

									<span>24.00</span>

								</dd>
							</dl>
						</div>

						<div class="logistics">

							<span></span>
							<ul>
								<li>

									<p>订单提交</p>

									<p>✔</p>

									<p>2016-11-28</p>

									<p>10:28:36</p>

								</li>

								<li>

									<p>支付完成</p>

									<p>✔</p>

									<p>2016-11-28</p>

									<p>10:29:54</p>

								</li>

								<li>

									<p>商品出库</p>

									<p>✔</p>

									<p>2016-11-28</p>

									<p>11:03:38</p>

								</li>

								<li class="last">

									<p>收货完成</p>

									<p>✔</p>

									<p>2016-11-29</p>

									<p>09:42:32</p>

								</li>
							</ul>
						</div>

						<div class="tips">

							<div class="col-md-6 col-sm-6 col-xs-6">

								<div class="time">
									<h3>操作时间</h3>

									<ul>
										<li><span>2016-11-29</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>09:42:32</span></li>

										<li>09:42:32</li>

										<li>09:42:32</li>

										<li>09:42:32</li>

										<li>09:42:32</li>

										<li><span>2016-11-29</span>&nbsp;&nbsp;&nbsp;&nbsp; <span>09:42:32</span></li>
									</ul>				

								</div>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-6 msg">

								<h3>物流信息</h3>

								<ul>

									<li>送货服务已完成，欢迎您再次光临</li>

									<li>您得订单已到达【北京市-XXX-XXXX-XXXXX】</li>

									<li>XXXXXXXXXXXXXXXXXXXXXXX</li>

									<li>XXXXXXXXXXXXXXXXXXXXXXX</li>

									<li>XXXXXXXXXXXXXXXXXXXXXXX</li>

									<li>XXXXXXXXXXXXXXXXXXXXXXX</li>

								</ul>

							</div>

						</div>

						<div class="total">
							<div class="col-md-6">
								<ul>
									<li>已选2件商品</li>

									<li>

										<span>已节省：</span>

										<span>5.00</span>

									</li>
								</ul>
							</div>

							<div class="col-md-6 pay">

								<ul>

									<li>

										<span>合计（不含运费）：</span>

										<span>24.00</span>

									</li>

									<li>已支付</li>

								</ul>

							</div>
						</div>
					</div><!--right end-->
				</div><!--row end-->
			</div><!--container end-->

		</div>

		<!--content end-->

		

