

		<link rel="stylesheet" href="css/order.css" />

		<script src="js/order.js"></script>

		<title>我的订单</title>	

	<body>

		<!--header-->
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="login">
						<ul class="nav-pills">
							<li>
								<a href="{:U('login/login')}">登录</a>
							</li>
							<li>丨</li>
							<li>
								<a href="{:U('register/register')}">注册</a>
							</li>
						</ul>
					</div>
					<div class="car">
						<a href="{:U('purchase/shop_cart')}">
							<img src="images/index_img/car.png" /> 我的购物车
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->

		<!--nav-->
		<div class="main_nav">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
						<div class="logo">
							<a href="{:U('index/index')}"><img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" /></a>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{:U('index/index')}">首页</a></li>
							<li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>
							<li><a href="{:U('news/news')}">新闻中心</a></li>
							<li><a href="{:U('product/pro_list')}">产品中心</a></li>
							<li><a href="{:U('contact/contact_us')}" class="active">联系我们</a></li>
							<li><a href="{:U('user/user')}">会员中心</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--nav end-->



		<!--content-->

		<div class="content">

			<div class="container">
				<div class="row">
					<div class="col-md-3 left_bar">
						<div class="top">

							<a href="###"><img src="images/order_img/head.png" /></a>

							<p>ID:张博凯</p>

						</div>

						<div class="down">
							<ul>
								<li><a href="{:U('user/user')}">会员首页</a></li>

								<li><a href="{:U('user/order')}" class="active">我的订单</a></li>

								<li><a href="{:U('user/collection_page')}">我的收藏</a></li>

								<li><a href="{:U('user/purchaseMessage')}">购买记录</a></li>

								<li><a href="{:U('user/changeInfo')}">资料设置</a></li>

								<li><a href="{:U('user/changePwd')}">修改密码</a></li>
							</ul>
						</div>
					</div><!--left_bar end-->

					<div class="col-md-9 right">
						<div class="head"></div>

						<div class="main">
							<div class="col-md-12 head_nav">

								<div class="col-md-7 shop_left">

									<label class="col-md-6 c-checkbox all">

										<input type="checkbox" />

										<span></span>全选

									</label>

									<p class="col-md-6 shop_top">商品信息</p>

								</div>

								<div class="col-md-5 shop_right shop_top">

									<dl>

										<dd>数量</dd>

										<dd>金额（元）</dd>

										<dd>操作</dd>

									</dl>

								</div>

							</div>
						</div><!--main end-->

						<ul class="col-md-12 goods">

							<li class="list">

								<div class="col-md-7 main_left">

									<label class="c-checkbox">

										<input type="checkbox" />

										<span></span>

									</label>

									<div class="product">

										<a href="{:U('product/pro_center')}"><img src="images/order_img/order.jpg" /></a>

										<a href="{:U('product/pro_center')}">美味实惠好吃美味实惠好吃美味实惠美味实美味实惠好吃美味实惠好吃美味实惠好吃美味实惠好吃...</a>

									</div>

								</div>

								<div class="col-md-5 main_right">

									<div class="shop_right shop">

										<dl>

											<dd class="num">

												<button type="button" class="btn-left">-</button>

												<input type="text" value="1" class="prd_num" readonly="readonly" />

												<button type="button" class="btn-right">+</button>

											</dd>

											<dd class="money">

												<p>34.00</p>

												<p>24.00</p>

											</dd>

											<dd class="del">

												<a href="javascript:void(0)">删除</a>

											</dd>

										</dl>

									</div>

								</div>

							</li><!--list end-->

							

							<li class="list">

								<div class="col-md-7 main_left">

									<label class="c-checkbox">

										<input type="checkbox" />

										<span></span>

									</label>

									<div class="product">

										<a href="{:U('product/pro_center')}"><img src="images/order_img/order.jpg" /></a>

										<a href="{:U('product/pro_center')}">美味实惠好吃美味实惠好吃美味实惠美味实美味实惠好吃美味实惠好吃美味实惠好吃美味实惠好吃...</a>

									</div>

								</div>

								<div class="col-md-5 main_right">

									<div class="shop_right shop">

										<dl>

											<dd class="num">

												<button type="button" class="btn-left">-</button>

												<input type="text" value="1" class="prd_num" readonly="readonly" />

												<button type="button" class="btn-right">+</button>

											</dd>

											<dd class="money">

												<p>34.00</p>

												<p>24.00</p>

											</dd>

											<dd class="del">

												<a href="javascript:void(0)">删除</a>

											</dd>

										</dl>

									</div>

								</div>

							</li><!--list end-->

							

							<li class="list">

								<div class="col-md-7 main_left">

									<label class="c-checkbox">

										<input type="checkbox" />

										<span></span>

									</label>

									<div class="product">

										<a href="{:U('product/pro_center')}"><img src="images/order_img/order.jpg" /></a>

										<a href="{:U('product/pro_center')}">美味实惠好吃美味实惠好吃美味实惠美味实美味实惠好吃美味实惠好吃美味实惠好吃美味实惠好吃...</a>

									</div>

								</div>

								<div class="col-md-5 main_right">

									<div class="shop_right shop">

										<dl>

											<dd class="num">

												<button type="button" class="btn-left">-</button>

												<input type="text" value="1" class="prd_num" readonly="readonly" />

												<button type="button" class="btn-right">+</button>

											</dd>

											<dd class="money">

												<p>34.00</p>

												<p>24.00</p>

											</dd>

											<dd class="del">

												<a href="javascript:void(0)">删除</a>

											</dd>

										</dl>

									</div>

								</div>

							</li><!--list end-->

							

							<li class="list">

								<div class="col-md-7 main_left">

									<label class="c-checkbox">

										<input type="checkbox" />

										<span></span>

									</label>

									<div class="product">

										<a href="{:U('product/pro_center')}"><img src="images/order_img/order.jpg" /></a>

										<a href="{:U('product/pro_center')}">美味实惠好吃美味实惠好吃美味实惠美味实美味实惠好吃美味实惠好吃美味实惠好吃美味实惠好吃...</a>

									</div>

								</div><!--main_left end-->

								<div class="col-md-5 main_right">

									<div class="shop_right shop">

										<dl>

											<dd class="num">

												<button type="button" class="btn-left">-</button>

												<input type="text" value="1" class="prd_num" />

												<button type="button" class="btn-right">+</button>

											</dd>

											<dd class="money">

												<p>34.00</p>

												<p>24.00</p>

											</dd>

											<dd class="del">

												<a href="javascript:void(0)">删除</a>

											</dd>

										</dl>

									</div><!--shop end-->

								</div><!--main_right end-->

							</li><!--list end-->	

						</ul><!--goods end-->

						

						<nav class="page">

							<ul class="pagination pagination-sm">

								<li><a href="#">&lsaquo;</a></li>

								<li><a href="#" class="on">1</a></li>

								<li><a href="#">2</a></li>

								<li><a href="#">3</a></li>

								<li><a href="#">●●●●●●</a></li>

								<li><a href="#">30</a></li>

								<li><a href="#">&rsaquo;</a></li>

							</ul>

						</nav>

						
					</div><!--right end-->

					<div class="end">
						<h3>猜你喜欢</h3>

						<ul>

							<li class="col-md-3 col-sm-3 col-xs-6 like">

								<a href="{:U('product/pro_center')}">
									<img src="images/order_img/like.jpg"  />

								</a>

								<div class="word">

									<span>¥ 2.5</span>

									<span>¥ 3</span>

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g*12条多口味组...</a></p>

									<p>月销：35611</p>

								</div>							
							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 like">

								<a href="{:U('product/pro_center')}">

									<img src="images/order_img/like.jpg"  />

								</a>	

								<div class="word">

									<span>¥ 2.5</span>

									<span>¥ 3</span>

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g*12条多口味组...</a></p>

									<p>月销：35611</p>

								</div>							

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 like">

								<a href="{:U('product/pro_center')}">

									<img src="images/order_img/like.jpg"  />

								</a>

								<div class="word">

									<span>¥ 2.5</span>

									<span>¥ 3</span>

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g*12条多口味组...</a></p>

									<p>月销：35611</p>

								</div>							

							</li>

							<li class="col-md-3 col-sm-3 col-xs-6 like">

								<a href="{:U('product/pro_center')}">

									<img src="images/order_img/like.jpg"  />

								</a>

								<div class="word">

									<span>¥ 2.5</span>

									<span>¥ 3</span>

									<p><a href="{:U('product/pro_center')}">乐吧薯片50g*12条多口味组...</a></p>

									<p>月销：35611</p>

								</div>							

							</li>

						</ul>
					</div>
				</div><!--row end-->
			</div><!--container end-->

		</div>

		<!--content end-->

		

