

		<link rel="stylesheet" href="css/pay.css" />

		<script src="js/pay.js"></script>

		<title>结算订单</title>

	<body>

		<!--header-->
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="login">
						<ul class="nav-pills">
							<li>
								<a href="{:U('login/login')}">登录</a>
							</li>
							<li>丨</li>
							<li>
								<a href="{:U('register/register')}">注册</a>
							</li>
						</ul>
					</div>
					<div class="car">
						<a href="{:U('purchase/shop_cart')}">
							<img src="images/index_img/car.png" /> 我的购物车
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->

		<!--nav-->
		<div class="main_nav">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
						<div class="logo">
							<a href="{:U('index/index')}"><img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" /></a>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{:U('index/index')}">首页</a></li>
							<li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>
							<li><a href="{:U('news/news')}">新闻中心</a></li>
							<li><a href="{:U('product/pro_list')}">产品中心</a></li>
							<li><a href="{:U('contact/contact_us')}">联系我们</a></li>
							<li><a href="{:U('user/user')}" class="active">会员中心</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--nav end-->



		<!--content-->

		<div class="content">

			<div class="container">

				<div class="locative">
					<p>

						您现在位置：

						<a href="user.html">会员中心</a>

						>结算订单

					</p>

				</div>

				<div class="bank">

					<div class="left">

						<label class="active c-radio">

							<span class="first">

								<span class="second">
									<input type="radio" checked="checked" />
								</span>	

							</span>

							<img src="images/pay_img/bank01.jpg" />

							<span class="pay_bank">

								<span class="pay_left">

									<span>**8477</span>

									<span>储蓄卡丨快捷</span>

								</span>

								<span class="pay_right">

									<span>支付</span>

									<span>90.00</span>

									<span>元</span>

								</span>

							</span>

						</label>

					</div>	

					<div class="left">

						<label class="c-radio">

							<span class="first">

								<span>

									<input type="radio"/>

								</span>	

							</span>	

							<img src="images/pay_img/bank02.jpg" />

							<span class="pay_bank">

								<span class="pay_left">

									<span>**8477</span>

									<span>储蓄卡丨快捷</span>

								</span>

								<span class="pay_right">

									<span>支付</span>

									<span>90.00</span>

									<span>元</span>

								</span>

							</span>

						</label>

					</div>

					<div class="left">

						<label class="c-radio">

							<span class="first">

								<span>

									<input type="radio" />

								</span>	

							</span>

							<img src="images/pay_img/bank03.jpg" />

							<span class="pay_bank">

								<span class="pay_left">

									<span>**8477</span>

									<span>储蓄卡丨快捷</span>

								</span>

								<span class="pay_right">

									<span>支付</span>

									<span>90.00</span>

									<span>元</span>

								</span>

							</span>

						</label>

					</div>
				</div>

				<div class="pay">

					<div class="pay_method">
						<a href="###">其他付款方式</a>

						<a href="###">添加快捷/网银付款</a>
					</div>

					<div class="safe">
						<img src="images/pay_img/pay_03.jpg" />

						<p>您在安全的环境中，请放心使用！</p>
					</div>

					<div class="password">
						<p>银行卡支付密码：</p>

						<dl class="list_mima">

							<dd><input type="password" value="" maxlength="1" /></dd>

							<dd><input type="password" value="" maxlength="1" /></dd>

							<dd><input type="password" value="" maxlength="1" /></dd>

							<dd><input type="password" value="" maxlength="1" /></dd>

							<dd><input type="password" value="" maxlength="1" /></dd>

							<dd><input type="password" value="" maxlength="1" /></dd>

						</dl>

						<p>请输入6位数字密码</p>
					</div>

					<a href="order_details.html">确认支付</a>

				</div>

				<div class="bill">

					<h4>发票信息</h4>	

					<p>发票类型：电子发票 <a href="###">电子发票下载</a></p>

					<p>发票抬头：个人</p>

					<p>发票内容：明细</p>

				</div>
			</div>

		</div>

		<!--content end-->

		