

		<link rel="stylesheet" href="css/news_center.css" />

		<script type="text/javascript" src="js/jquery.touchSwipe.min.js" ></script>

		<script src="js/lunbo.js"></script>

		<title>新闻详情</title>

	<body>

		<!--header-->
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="login">
						<ul class="nav-pills">
							<li>
								<a href="{:U('login/login')}">登录</a>
							</li>
							<li>丨</li>
							<li>
								<a href="{:U('register/register')}">注册</a>
							</li>
						</ul>
					</div>
					<div class="car">
						<a href="{:U('purchase/shop_cart')}">
							<img src="images/index_img/car.png" /> 我的购物车
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->

		<!--nav-->
		<div class="main_nav">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
						<div class="logo">
							<a href="{:U('index/index')}"><img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" /></a>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{:U('index/index')}">首页</a></li>
							<li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>
							<li><a href="{:U('news/news')}" class="active">新闻中心</a></li>
							<li><a href="{:U('product/pro_list')}">产品中心</a></li>
							<li><a href="{:U('contact/contact_us')}">联系我们</a></li>
							<li><a href="{:U('user/user')}">会员中心</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--nav end-->



		<!--banner-->

		<div id="myCarousel" class="carousel slide">

		   <!-- 轮播（Carousel）指标 -->

		   <ol class="carousel-indicators">

		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

		      <li data-target="#myCarousel" data-slide-to="1"></li>

		      <li data-target="#myCarousel" data-slide-to="2"></li>

		   </ol>   

		   <!-- 轮播（Carousel）项目 -->

		   <div class="carousel-inner">

		      <div class="item active">

		         <img src="images/index_img/banner01.jpg">

		      </div>

		      <div class="item">

		         <img src="images/index_img/banner02.jpg">

		      </div>

		      <div class="item">

		         <img src="images/index_img/banner03.jpg">

		      </div>

		   </div>

		</div>

		<!--banner end-->

		

		<!--content-->

		<div class="content">

			<div class="container">

				<div class="row">
					<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text">
						<div class="up">
							<span>新闻中心</span>
						</div>

						<div class="down">
							<ul>

								<li>

									<a class="on" href="{:U('news/news')}">行业新闻</a>

								</li>

								<li>

									<a href="###">产品动态</a>

								</li>

								<li>

									<a href="###">相关新闻</a>

								</li>

							</ul>
						</div>
					</div>

					<div class="col-lg-10 col-md-9 col-sm-9 main_news">
						<div class="head_nav">
							<p>

								<a href="{:U('index/index')}">首页></a>

								<a href="{:U('news/news')}">新闻中心></a>

								<a href="{:U('news/news')}">行业新闻></a>

								<a>快乐大了理科...</a>

							</p>
						</div>

						<div class="title">

							<h3>快乐大了理科数学绿色了空间阿萨德离</h3>

							<span>2016-7-23 05:32:45</span>

							<span>来源：凯涛奇乐吧企业有限公司</span>

						</div>

						<div class="words">
							<img class="img-responsive col-md-4" src="images/news_img/news.jpg" />

							<div class="main_text">

								<p>会发胖的，不要给自己造成心里压力，减肥也是长期坚持下来的。所以偶尔也应该要犒赏自己一下，偶尔吃一点零食是正常的。而且有助于减肥，如果完全不吃高热···</p>

								<p>

									不会发胖的，不要给自己造成心里压力，减肥也是长期坚持下来的。所以偶尔也应该要犒赏自己一下，偶尔吃一点零食是正常的。而且有助于减肥，如果完全不吃高热量的东西的话，

									减肥之后反弹会很快，而且很难经得起诱惑。偶尔吃一两次是没有问题的，不用担心，不过建议早上吃哦，因为早上是我们热量消耗最大的时候，而且有一整天的时间消化我们吃的食物，

									所以可以在早上吃一些你想吃的东西。

								</p>

								<p>不会发胖的，不要给自己造成心里压力，减肥也是长期坚持下来的。所以偶尔也应该要犒赏自己一下，偶尔吃一点零食是正常的。而且有助于减肥，如果完全不吃高热···</p>

								<p>

									不会发胖的，不要给自己造成心里压力，减肥也是长期坚持下来的。所以偶尔也应该要犒赏自己一下，偶尔吃一点零食是正常的。而且有助于减肥，如果完全不吃高热量的东西的话

									，减肥之后反弹会很快，而且很难经得起诱惑。偶尔吃一两次是没有问题的，不用担心，不过建议早上吃哦，因为早上是我们热量消耗最大的时候，而且有一整天的时间消化我们吃的食物，

									所以可以在早上吃一些你想吃的东西。

								</p>

								<p>1薯片：548大卡(100克)</p>

								<p>

									薯片内含有热量548.00大卡、碳水化合物49.20克、脂肪37.60克、蛋白质7.50克、纤维素4克。薯片被认为是不健康的食品，而在我们消闲娱乐之时，吃得最多的也是它。 薯片的营养价值较低，

									含有少量脂肪和能量，多吃破坏食欲。引起此危害的塬因是薯片含高度盐份，吃薯片不只会吃一块，满足到味觉后，或把一整包吃完才会停止，这样的热量增加可想而知了。

								</p>

								<p>2雪糕：127大卡(100克)</p>

								<p>雪糕内的脂肪含量和含糖量都非常高，对于减肥中的MM来说，吃雪糕是无疑是一种奢侈的事情。如果你还想穿得下小码的衣服，趁早跟雪糕说byebye吧！</p>

								<p>3巧克力：586大卡(100克)</p>

								<p>巧克力是一种高热量食品，其中脂肪含量相当高，但是不含能刺激胃肠正常蠕动的纤维素，因而影响胃肠道的消化吸收功能。但是喜爱吃巧克力的人只要通过增加适当的运动来维持能量平衡就不会引起肥胖，所以要吃到甜丝丝的巧克力的女士们，要多运动。</p>

								<p>4普通可乐：168卡(一罐)</p>

								<p>很多人都是做完运动以后都会喝上一罐，但是你知道吗？一罐375ml可乐中含有的热量168cal。如果每天都喝上一罐，一年发胖8公斤。更可怕的是，喝下的可乐不但不会让你有饱足感，可乐的重口味还会让您吃下更多食物。不只是可乐，其它的汽水、沙士等等也是少喝为妙。</p>

								<p>5啤酒：147卡(一罐)</p>

								<p>

									啤酒里面除了热量之外，几乎不含任何营养素，所以除了让您发胖之外，对健康没有任何帮助。如果您想要品尝啤酒的麦香，最好还是浅尝即止，千万不要养成每天喝啤酒的习惯，更加不要在睡前喝啤酒，因为啤酒有利尿的作用，睡前喝就会造成大量的水份聚积在体内，

									那样晚上你就会不停地上厕所。

								</p>

								<p>6热狗肠：307大卡(100克)</p>

								<p>100克热狗肠中含有热量307.00大卡、脂肪25.20克、蛋白质13.20克。大部分的热狗肠都是经过烧烤或者油炸，里面含有的油脂与脂肪非常之高，而且经过烧烤或油炸的东西都对人体有一定的损害，所以减肥MM们更加要注意，尽量少吃或者不吃。</p>

								<p>7曲奇饼：546大卡(100克)</p>

								<p>曲奇饼中含有热量546.00大卡、碳水化合物59.10克、脂肪31.60克，在零食中也算是高热量的一份子，曲奇饼是用牛奶和面的制成，多吃会让人觉得太甜太腻，而且体重也会飙升。所以大家在挑选零食的时候要注意选择。</p>

							</div>
						</div>

						<div class="page">
							<a href="###">上一篇：已是顶篇</a>

							<a href="###">下一篇：快乐大了理科...</a>
						</div>

					</div>

				</div>

			</div>

		</div>

		<!--content end-->

		
