 <table>
        <thead>
          <tr>
            <th>
              <input class="check-all" type="checkbox" />ID
            </th>
            <th>名称</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>时间</th>
             <th>操作</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="6">
              <div class="bulk-actions align-left">
               
              </div>
              <div class="pagination">     
                   
                 <?php 
                    
                   $url=$GLOBALS['url'];
                    echo " <a href='{$url}{$addurl}' title='First Page'>&laquo; First</a>";
                    echo " <a href='{$url}{$addurl}&curpage={$prepage}' title='Previous Page'>&laquo; Previous</a>";
                    for($i=$start;$i<=$end;$i++){
                        if($i==$curpage){
                             echo "<a href='{$url}{$addurl}&curpage={$i}' class='number current' title='{$i}'>{$i}</a> ";
                        }else{
                             echo "<a href='{$url}{$addurl}&curpage={$i}' class='number' title='{$i}'>{$i}</a> ";
                        }
                    }

                    echo "<a href='{$url}{$addurl}&curpage={$nextpage}' title='Next Page'>Next &raquo;</a>";
                    echo "<a href='{$url}{$addurl}&curpage={$count}' title='Last Page'>Last &raquo;</a>";
                ?> 
	  
              </div>
              <!-- End .pagination -->
              <div class="clear"></div>
            </td>
          </tr>
        </tfoot>
        <tbody>
        <?php foreach($rows as $value): ?>
          <tr>
            <td><input type="checkbox" name="checkbox" value="<?=$value['id'];?>" /><?=$value['id'];?></td>
            <td><?=$value['name'];?></td>
            <td><?=$value['tel'];?></td>
            <td><?=$value['email'];?></td>
            <td><?=date('Y-m-d',$value['time']);?></td>
            <td>              
              <a href="javascript:;"  onclick="show(<?=$value['id']?>,<?=$curpage?>)" title="查看">
              <img src="resources/images/icons/information.png" alt="Edit" /></a> 
              <a href="javascript:;" onclick="delOne(<?=$value['id']?>,<?=$curpage?>)" title="删除">
              <img src="resources/images/icons/cross.png" alt="Delete" /></a>             
            </td>
          </tr>
         <?php endforeach; ?>
        </tbody>
      </table>