

		<link rel="stylesheet" href="css/login.css" />

		<script src="js/login.js"></script>

		<title>登录</title>

	<body onload="loadCookie()">

		<!--header-->

		<div class="header">

				<div class="container">

				<div class="header_top">

					<div class="login">

						<ul class="nav-pills">

							<li><a href="{:U('login/login')}">登录</a></li>

							<li>丨</li>

							<li><a href="{:U('register/register')}">注册</a></li>

						</ul>

					</div>

					<div class="car">

						<a href="{:U('purchase/shop_cart')}">

						<img src="images/index_img/car.png" />

						我的购物车

						</a>

					</div>

				</div>

			</div>

		</div>

		<!--header end-->

		

		<!--nav-->

		<div class="main_nav">

			<div class="container">

				<nav class="navbar navbar-default" role="navigation">

				   <div class="navbar-header">

				      <button type="button" class="navbar-toggle" data-toggle="collapse" 

				         data-target="#example-navbar-collapse">

				         <span class="icon-bar"></span>

				         <span class="icon-bar"></span>

				         <span class="icon-bar"></span>

				      </button>

				      <div class="logo">

				      	<img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" />

				      </div>

				   </div>

				   <div class="collapse navbar-collapse" id="example-navbar-collapse">

				      <ul class="nav navbar-nav">

				         <li><a href="{:U('index/index')}">首页</a></li>

				         <li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>

				         <li><a href="{:U('news/news')}">新闻中心</a></li>

				         <li><a href="{:U('product/pro_list')}">产品中心</a></li>

				         <li><a href="{:U('contact/contact_us')}">联系我们</a></li>

				         <li><a href="{:U('user/user')}">会员中心</a></li>

				      </ul>

				   </div>

				</nav>

			</div>

		</div>

		<!--nav end-->



		<!--content-->

		<div class="content jumbotron">

			<div class="container">
				<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 col-xs-12 imfor">

					<h3>会员登录</h3>

					<form action="user.html" onsubmit="return checkLogin()" class="form-horizontal" role="form" id="form">

						<div class="input-group">

							<span class="input-group-btn">

								<img src="images/login_img/person.png" />

							</span>

							<input type="text" class="form-control" id="email" onblur="checkEmail(this.value);" placeholder="手机号/邮箱" />	

							<div id="emailTip" title="温馨提示" data-container="body" data-toggle="popover" data-placement="right" 

data-content="请输入合法邮箱或手机号"></div>

						</div><br />

						<div class="input-group">

							<span class="input-group-btn">

								<img src="images/login_img/person.png"  />

							</span>

							<input type="password" class="form-control" id="password" onblur="checkPassword(this.value);" placeholder="请输入密码" />	

							<div id="passwordTip" title="温馨提示" data-container="body" data-toggle="popover" data-placement="right" 

data-content="请输入合法密码"></div>

						</div><br />

						

						

						<button type="submit" class="btn"/>登&nbsp &nbsp录</button>

					   	<label class="c-checkbox">

					   		<input type="checkbox" id="isAutoLogin">

					   		<span></span>

					   		记住密码 

					   	</label>

					   	<span class="pass">

					   		<a href="{:U('register/register')}" class="new_user">注册新账户</a>/<a href="###">忘记密码？</a>

					   	</span>

					</form>

				</div>
			</div>

		</div>

		<!--content end-->

		