
    <div id="footer" style="float:right;margin-bottom:20px;"> <small></small>
      <!-- Remove this notice or replace it with whatever you want -->
      &#169; Copyright 2010 Your Company | Powered by <a href="http://www.kernel123.cn">Joy</a> | <a href="{:U('index/index')}">首页</a> </small> </div>
    <!-- End #footer -->
  </div>
  <!-- End #main-content -->
</div>
</body>
</html>
