    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>    
           
            <p>
              <label>用户名：</label>
              <input class="text-input medium-input " type="text"  name="username" 
                        datatype="*3-20" nullmsg="用户名不能为空" ajaxurl="<?=$GLOBALS['currController'].'&a=ckusername'?>" />
            </p> 
             <p>
              <label>呢称：</label>
              <input class="text-input medium-input " type="text"  name="nk" 
                        datatype="*1-20" nullmsg="呢称不能为空"  />
            </p>   
            <p>
              <label>邮箱</label>
              <input class="text-input medium-input" type="text" id="large-input" name="mail" datatype="e" nullmsg="邮箱不能为空" ajaxurl="<?=$GLOBALS['currController'].'&a=ckmail'?>" />
            </p>
             <p>
              <label>密码</label>
              <input class="text-input medium-input" type="password" id="large-input" name="password" datatype="*8-15" nullmsg="密码不能为空" plugin="passwordStrength" />
              <div class="passwordStrength">密码强度： <span>弱</span><span>中</span><span class="last">强</span></div>
            </p>
              <p>
              <label>确认密码</label>
              <input class="text-input medium-input" type="password" id="large-input" name="repassword" datatype="*8-15" nullmsg="密码不能为空" recheck="password" />
            </p>
            <p>
              <label>权限</label>
              <input type="checkbox" class="checkall" />全选            
            </p>
             <div class="level">
              <?php
                foreach($levelarr as $k=>$v){
                  $i=strpos($k,'_');
                  $id=substr($k,0,$i);
                  $k=substr($k,$i+1);
                  echo "<p><label><input type='checkbox' name='level[]' value='$id' />$k</label>";
                  foreach($v as $v1){
                      $id1=$v1['id'];
                      echo "<input  type='checkbox' name='level[]' value='$id1' />".$v1['name'];
                  }                
                  echo "</p>";
                }
              
              ?>
                
             </div>
            
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
     <script>	   
			
		$("#tab2 form").Validform({
      tiptype:4,
       usePlugin:{
          passwordstrength:{
            minLen:8,
            maxLen:15
          }
		  }
    });
	 

   $(".checkall").click(function(){
      var status=$(this).is(":checked");
      $(".level input").prop("checked",status);
   });

   $(".level label input").click(function(){
        var status=$(this).is(":checked");
        $(this).parent().siblings("input").prop("checked",status);
        checkall()
   });

    $(".level p>input").click(function(){
         // $(this).siblings("label").children("input").prop("checked",true);
         var status=$(this).is(":checked");
         if(status){
           
           $(this).siblings("label").children("input").prop("checked",true);

         }else{
           
            if($(this).siblings("input:checked").length==0){
                 $(this).siblings("label").children("input").prop("checked",false);
            }

         }

         checkall()
    });

    function checkall(){
        var input=$(".level input").length;
        var checkedinput=$(".level input:checked").length;

        if(input==checkedinput){
           $(".checkall").prop("checked",true);
        }else{
          $(".checkall").prop("checked",false);
        }

    }

	</script>
	    