    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>           
            <p>
              <label>用户名</label>
              <input class="text-input medium-input" type="text"  value="<?=$username?>" disabled="disabled" />
            </p>
             <p>
              <label>邮箱</label>
              <input class="text-input medium-input" type="text"  name="mail" value="<?=$mail?>" datatype="e" nullmsg="邮箱不能为空" ajaxurl="<?=$GLOBALS['currController'].'&a=ckmail&t=set'?>" />
             
            </p>
            <p>
              <label>呢称</label>
              <input class="text-input medium-input" type="text"  name="nk" value="<?=$nk?>"  datatype="*2-5" nullmsg="邮箱不能为空"  />
            </p>
             
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
     <script>	   
			
		$("#tab2 form").Validform({
      tiptype:3
      
    });
	 
	</script>
	    