
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>新闻列表</h3>
        <ul class="content-box-tabs">
            <li><a href="#tab1" class="default-tab">Table</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">

          <div class="mychange">
          <table>
            <thead>
              <tr>
                <th>
                  <input class="check-all" type="checkbox" />
                </th>
                <!-- <th>id  {:W("Menu/menu")}</th> -->
                <th>id</th>                
                <th>标题</th>
                <th>作者</th>
                <th>时间</th>
                <th>编辑</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="6">

                  <div class="pagination"> 
                      <a href="{:U('news/index',array('p'=>1))}" title="First Page">&laquo; First</a>
                      <if condition="$currentpage gt 1">
                      <a href="{:U('news/index',array('p'=>$currentpage-1))}" title="Previous Page">&laquo; Previous</a> 
                     </if>
                      <for start="1" end="$totalspage" comparison="elt" >
                          <eq name="i" value="$currentpage">
                           <a href="{:U('news/index',array('p'=>$i))}" class="number current" title="{$i}">{$i}</a> 
                          <else/>
                            <a href="{:U('news/index',array('p'=>$i))}" class="number" title="{$i}">{$i}</a> 
                          </eq>
                       
                      </for>
                     <if condition="$currentpage lt $totalspage">
                      <a href="{:U('news/index',array('p'=>$currentpage+1))}" title="Next Page">Next &raquo;</a>
                     </if>
                      <a href="{:U('news/index',array('p'=>$totalspage))}" title="Last Page">Last &raquo;</a>
                      
                  </div>
                  <!-- End .pagination -->
                  <div class="clear"></div>
                </td>
              </tr>
            </tfoot>
            <tbody>
            <foreach name="list" item="v">
              <tr>
                <td>
                  <input type="checkbox" />
                </td>
                <td>{$v.id}</td>
                <td><a href="#" title="title">{$v.title|mb_substr=0,4,"utf-8"|strtoupper}</a></td>
                <td>{$v.author|default="未定义"}</td>
                <td>{$v.time|date="Y-m-d H:i:s",###}</td>
                <td>
                  <!-- Icons -->
                  <a href="{:u('update',array('id'=>$v['id']))}" title="Edit">
                  <img src="resources/images/icons/pencil.png" alt="Edit" /></a> 
                  <a href="{:u('delete',array('id'=>$v['id']))}" title="Delete">
                  <img src="resources/images/icons/cross.png" alt="Delete" /></a> 
                </td>
              </tr>
             </foreach>
            </tbody>
          </table>
        </div>
        <!-- End #tab1 -->

      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->

<script>
  $(".pagination a").live("click",function(){
     var url = $(this).attr("href"); //请求的超链接地址
    $.get(url,function(msg){
         $(".mychange").html(msg);
    },"html");
      return false;
  })


</script>