{__NOLAYOUT__}
<table>
    <thead>
    <tr>
        <th>
            <input class="check-all" type="checkbox" />
        </th>
        <th>id</th>
        <th>标题</th>
        <th>作者</th>
        <th>时间</th>
        <th>编辑</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="6">
            
            <div class="pagination">
                <a href="{:U('news/index',array('p'=>1))}" title="First Page">&laquo; First</a>
                <if condition="$currentpage gt 1">
                    <a href="{:U('news/index',array('p'=>$currentpage-1))}" title="Previous Page">&laquo; Previous</a>
                </if>
                <for start="1" end="$totalspage" comparison="elt" >
                    <eq name="i" value="$currentpage">
                        <a href="{:U('news/index',array('p'=>$i))}" class="number current" title="{$i}">{$i}</a>
                        <else/>
                        <a href="{:U('news/index',array('p'=>$i))}" class="number" title="{$i}">{$i}</a>
                    </eq>

                </for>
                <if condition="$currentpage lt $totalspage">
                    <a href="{:U('news/index',array('p'=>$currentpage+1))}" title="Next Page">Next &raquo;</a>
                </if>
                <a href="{:U('news/index',array('p'=>$totalspage))}" title="Last Page">Last &raquo;</a>

            </div>
            <!-- End .pagination -->
            <div class="clear"></div>
        </td>
    </tr>
    </tfoot>
    <tbody>
    <foreach name="list" item="v">
        <tr>
            <td>
                <input type="checkbox" />
            </td>
            <td>{$v.id}</td>
            <td><a href="#" title="title">{$v.title|mb_substr=0,4,"utf-8"|strtoupper}</a></td>
            <td>{$v.author|default="未定义"}</td>
            <td>{$v.time|date="Y-m-d H:i:s",###}</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit">
                    <img src="resources/images/icons/pencil.png" alt="Edit" /></a>
                <a href="#" title="Delete">
                    <img src="resources/images/icons/cross.png" alt="Delete" /></a>
                <a href="#" title="Edit Meta">
                    <img src="resources/images/icons/hammer_screwdriver.png" alt="Edit Meta" /></a>
            </td>
        </tr>
    </foreach>
    </tbody>
</table>