

		<link rel="stylesheet" href="css/register.css" />

		<script type="text/javascript" src="js/register.js" ></script>

		<title>注册</title>

	<body>

		<!--header-->
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="login">
						<ul class="nav-pills">
							<li>
								<a href="{:U('login/login')}">登录</a>
							</li>
							<li>丨</li>
							<li>
								<a href="{:U('register/register')}">注册</a>
							</li>
						</ul>
					</div>
					<div class="car">
						<a href="{:U('product/shop_cart')}">
							<img src="images/index_img/car.png" /> 我的购物车
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->

		<!--nav-->
		<div class="main_nav">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
						<div class="logo">
							<a href="{:U('index/index')}"><img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" /></a>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{:U('index/index')}">首页</a></li>
							<li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>
							<li><a href="{:U('news/news')}">新闻中心</a></li>
							<li><a href="{:U('product/pro_list')}">产品中心</a></li>
							<li><a href="{:U('contact/contact_us')}">联系我们</a></li>
							<li><a href="{:U('user/user')}">会员中心</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--nav end-->



		<!--content-->

		<div class="content jumbotron">

			<div class="container">
				<div class="col-md-4 col-md-offset-4 imfor">

					<h3>会员注册</h3>

					<form action="login.html" id="#form" onsubmit="return checkLogin()">

						<div class="input-group">

							<span class="input-group-btn">

								<img src="images/register_img/person.png" />

							</span>

							<input type="text" class="form-control" placeholder="手机号/邮箱" id="email" onblur="checkEmail(this.value);" />

							<div id="emailTip" title="温馨提示" data-container="body" data-toggle="popover" data-placement="right" 

data-content="请输入合法邮箱或手机号"></div>

						</div><br />

						<div class="input-group short">

							<span class="input-group-btn">

								<img src="images/register_img/short.png" />

							</span>

							<input type="text" class="form-control" placeholder="短信验证码" id="SMS" />

						</div>

						<a href="###" class="word">获取验证码</a>

						<br />

						<div class="map">

							<div class="input-group address">

								<span class="input-group-btn">

									<img src="images/register_img/china.png" />

								</span>

							    <select class="form-control" id="local">

							      	<option selected="selected">地区</option>

							        <option>广东省</option>

							        <option>山东省</option>

							        <option>广西省</option>

							        <option>河南省</option>

							    </select>

							</div>

							<div class="form-group city">

							    <select class="form-control" id="city">

							      	<option selected="selected">市</option>

							        <option>广州市</option>

							        <option>上海市</option>

							        <option>北京市</option>

							        <option>杭州市</option>

							    </select>

						   	</div>

						   	<div class="form-group city">

						      <select class="form-control" id="county">

							      	<option selected="selected">县</option>

							        <option>遂溪县</option>

							        <option>揭西县</option>

							        <option>惠来县</option>

							        <option>博罗县</option>

						      </select>

						   	</div>

						</div>

						<br />

						<div class="input-group">

							<span class="input-group-btn">

								<img src="images/register_img/message.png" />

							</span>

							<input type="text" class="form-control" placeholder="E-mail" id="Email" onblur="checkE_mail(this.value);" />	

							<div id="E_mailTip" title="温馨提示" data-container="body" data-toggle="popover" data-placement="right" 

data-content="请输入正确E-mail"></div>

						</div><br />

						<div class="input-group">

							<span class="input-group-btn">

								<img src="images/register_img/person.png" />

							</span>

							<input type="password" class="form-control" placeholder="请输入密码" id="password" onblur="checkPassword(this.value);" />

							<div id="passwordTip" title="温馨提示" data-container="body" data-toggle="popover" data-placement="right" 

data-content="请输入密码"></div>

						</div><br />

						<div class="input-group">

							<span class="input-group-btn">

								<img src="images/register_img/person.png" />

							</span>

							<input type="password" class="form-control" placeholder="再次输入密码" id="repassword" onblur="recheckPassword(this.value);" />

							<div id="repasswordTip" title="温馨提示" data-container="body" data-toggle="popover" data-placement="right" 

data-content="密码与第一次不符"></div>

						</div>

						<input type="submit" value="注 &nbsp &nbsp册" class="btn"/>

						<div class="check">

						   <label class="c-checkbox">

						   	<input type="checkbox" id="var">

						   	<span></span>我已阅读并同意遵守

						   </label>

						    <a href="###">法律声明和隐私条款</a> 

						</div>

					</form>

				</div>
			</div>

		</div>

		<!--content end-->

		

	

