
<div class="banner">
<img src="<?=$banner?>"  /> 
</div>
	<div class="subnav">
        <div class="title">
		<span></span>
		<h2>新闻中心</h2>
		<h3>NEWS</h3>
        </div>
		<ul>
			<?php foreach($category as $v){ ?>
				<li ><a <?php if($v['id']==$row['category']){ ?>class="current" <?php }?> href="<?=$GLOBALS['currController'].'&a=index&category='.$v['id']?>"><?=$v['name']?></a></li>
			<?php }	?>
			
		</ul>

	</div>
	<h3> <?=$row['title']?></h3>
<div class="detail">
	<?=$row['content']?>
	
	<hr />

</div>

<div class="flip">
<a class="prev" href="<?=$url.'&do=prev&id='.$row['id']?>"><</a>
<a class="next" href="<?=$url.'&do=next&id='.$row['id']?>">></a>

</div>
