
<div class="banner">
<img src="<?=$banner?>"  /> 
</div>
<div class="news">
<div class="subnav">
<div class="title">
<span></span>
<h2>新闻中心</h2>
<h3>NEWS</h3>
</div>
<ul>
    <?php foreach($category as $c){ 
        if($c['id']==$currcate){
            echo "<li><a class='current' href='{$url}&category=".$c['id']."'>".$c['name']."</a></li>";
        }else{
             echo "<li><a  href='{$url}&category=".$c['id']."'>".$c['name']."</a></li>";
        }

        
     } ?>
</ul>
</div>
<ul class="contact">
  
    <?php foreach($rows as $r): ?>
    <li>
        <a href="<?=$GLOBALS['currController'].'&a=details&id='.$r['id']?>"><img style="width:403px;height:148px;" src="<?=$r['image']?>" alt="..." /></a>
        <h1><a href="<?=$GLOBALS['currController'].'&a=details&id='.$r['id']?>"><?=$r['title']?></a></h1>
        <p><?=mb_substr(trim(strip_tags($r['content'])),0,95,'utf-8')?>...</p>
        <span>Date：<?=date('Y-m-d',$r['time'])?></span>
    </li>
    <?php endforeach; ?>
</ul>
</div>
<div class="page">
    <div class="content">
        <ul>
            <li><a class="prev" href="<?=$url.'&curpage='.$prepage.'&category='.$currcate;?>"><</a></li>
            <?php 
            for($i=$start;$i<=$end;$i++){  
                if($curpage==$i){
                    echo "<li><a class='on' href='".$url.'&category='.$currcate.'&curpage='.$i."'>$i</a></li>";
                }else{
                    echo "<li><a  href='".$url.'&category='.$currcate.'&curpage='.$i."'>$i</a></li>";
                } 
            } 
            ?>           
            <li><a class="next" href="<?=$url.'&curpage='.$nextpage.'&category='.$currcate;?>">></a></li>
        </ul> 

    </div>
</div>