@charset "utf-8";
/* CSS Document */


.banner{ width:1920px; height:500px; left:50%; margin-left:-960px;position:relative;}

.newscenter{ width:1200px;  margin:0 auto; padding-bottom:45px;}
.subnav{ width:1200px; height:113px; background:#e5e5e5}
.title{ float:left; width:345px; height:110px; background:url(../images/3-news_03.jpg)}
.subnav h2{ font-size:18px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:500; float:left; margin-top:30px; margin-left:-60px}
.subnav h3{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:500; float:left; margin-top:56px; margin-left:-54px}
.subnav h4{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:500; float:left; margin-top:76px; margin-left:-53px; }
.title span{ width:34px; height:19px; border-bottom:solid 1px #FFFFFF; margin-left:163px; float:left; display:block;}
.subnav ul{  height:40px; float:left; list-style:none; margin:0; margin-top:38px; margin-left:50px}
.subnav li{float:left}
.subnav a{ text-decoration:none ; color:#333333; display:block; margin-left:56px; margin-right:56px;  width:66px; height:58px; font-size:16px; text-align:center; font-family:"微软雅黑"; font-weight:700;}
.subnav a:hover{border-bottom:solid #327ca3 1px; color:#327ca3}
.subnav a.current{border-bottom:solid #327ca3 1px;color:#327ca3}



.video-frame{ width:587px; height:461px; background:url(../images/video_03.gif); margin:10px auto;  }
.video-frame .video{ margin-left:38px; margin-top:34px; background:#000; width:510px; height:392px;}


.newscenter h5{ font-weight:400; font-size:18px; font-family:"微软雅黑"; color:#333; width:190px; height:20px;  margin-left:490px; margin-top:40px; margin-bottom:60px;}
.newscenter p{ width:1030px;  font-size:12px; color:#666666;  text-indent:2em; margin-left:88px; margin-bottom:0; line-height:24px;}
#videoPlay1{  margin:0 auto ; margin-left:35px}
