@charset "utf-8";
/* CSS Document */
*{outline:none; margin:0; padding:0;list-style:none; text-decoration:none; border:none; font-family:"微软雅黑";}
body{ overflow-x:hidden}
textarea{resize: none;}
.blank{ background:#007cc2; width:100%; height:10px}
.header{ height:121px; width:1200px;  margin:0 auto}
.header a.logo{ float:left; margin:0;}

.header ul{ list-style:none; float:left;  height:121px; margin:0; margin-left:140px}
.header li{ float:left; }
.header ul a{ text-align:center; display:block; text-decoration:none; width:111px; height:121px; line-height:11px; font-size:14px; font-family:"微软雅黑"; color:#333333; margin:0 10px 0 10px;}
.header span{ font-size:16px; font-family:"微软雅黑"; padding-top:45px; display:block}
.header ul a.current,.header ul a:hover{ background:#85c226; color:#ffffff;}

.search{ width:179px; height:23px;  float:right;   margin-top:12px; margin-right:43px }
.search input{ width:145px; height:16px; float:left;  color:#d4d4d7; border:solid #d4d4d7 1px; text-indent:5px; line-height:17px; padding-top:2px; padding-bottom:3px;}
.search button{ width:31px; height:23px; float:left; background:url(../images/1_index_03.png); border:none; cursor:pointer;line-height:23px;}






.footer{ height:60px; width:100%; float:left; background:#2b6d90; margin-top:125px}

.footer p{  color:#ffffff; font-size:12px; line-height:60px;width:192px; height:60px; margin:0 auto}
