@charset "utf-8";
/* CSS Document */


.banner{ width:1920px; height:500px;left:50%; margin-left:-245px }

.contactus{width:1200px; margin:0 auto; padding-bottom:30px; }
.subnav{ width:1200px; height:113px; background:#e5e5e5}
.title{ float:left; width:345px; height:110px;  background:url(../img/3-news_03.jpg)}
.subnav h2{ font-size:18px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:30px; margin-left:-60px}
.subnav h3{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:56px; margin-left:-88px}
.title span{ width:34px; height:19px; border-bottom:solid 1px #FFFFFF; margin-left:163px; float:left; display:block;}
.subnav p{ font-size:12px; font-family:"微软雅黑"; color:#333333; float:left; margin:0; margin-left:180px; margin-top:38px}
.subnav h4{font-size:12px; font-family:"微软雅黑"; color:#333333; font-weight:400; float:left; margin:0; margin-left:138px; margin-top:38px}
.subnav h5{font-size:12px; font-family:"微软雅黑"; color:#333333; font-weight:400; float:left; margin:0; margin-top:10px; margin-left:180px}
.subnav h6{font-size:12px; font-family:"微软雅黑"; color:#333333; font-weight:400; float:left; margin:0; margin-top:10px; margin-left:103px}
.subnav img{ float:left; margin-top:23px; cursor:pointer}

.msg{ width:1200px; margin:0 auto; }

.msg input{ margin-left:5px; border:solid 1px #000000; width:195px; height:30px; text-indent:5px; line-height:30px; margin-right:68px;}
table{ margin-top:35px; margin-left:20px; width:1080px; font-family:"微软雅黑";}
textarea{ border:solid 1px #000000; margin-left:6px; margin-top:20px; margin-bottom:20px; line-height:30px; width:550px; height:230px; text-indent:5px; overflow:hidden; resize:none;}

table span{ margin-left:10px; float:left;}
.msg input.code{ border:solid 1px #000000; width:95px; height:30px; margin-left:5px; text-indent:5px; line-height:30px; margin:0; float:left; margin-left:5px;}
table img{ margin-left:117px; cursor:pointer; position:relative; float:left;}

.message{ padding-top:20px;}

.msg input.submit{ width:153px; height:28px; text-align:center; line-height:28px; border:solid 1px #000000; font-size:14px; color:#333333; font-family:"微软雅黑"; background:#2b6d90;  border:solid #2b6d90 1px; color:#FFF; cursor:pointer; margin-top:5px; margin-left:10px; float:left;}
.msg input.reset{width:153px; height:28px; text-align:center; line-height:28px;  border:solid 1px #000000; font-size:14px; color:#333333; font-family:"微软雅黑";  background:#FFF; cursor:pointer; margin-left:46px; float:left; margin-top:5px;}
#map{ width:1198px; height:391px; margin:0 auto; clear:both;}

