@charset "utf-8";
/* CSS Document */
.banner{ list-style:none; width:1920px; height:600px; position:relative; left:50%; margin-left:-960px;}
.banner_img li{ position:absolute;list-style:none; }
.banner_img img{ height:600px;}
.banner_btn{ list-style:none; width:300px; height:50px; position:absolute; left:890px; top:500px;}
.banner_btn li{ width:30px; height:10px; float:left; margin-top:80px; margin-right:27px; background:#203b51; cursor:pointer;}
.banner_btn li.current{ background:#85c226;}
.about{ width:1200px; height:470px; margin:0 auto; position:relative;}
.title{ width:1200px; height:111px; background:#e5e5e5}
.line{ width:345px; height:110px;  float:left; background:url(../images/3-news_03.jpg)}
.line h2{ font-size:18px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:500;  text-align:center; margin-top:9px;}
.line h3{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:500; text-align:center}
.line h4{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:500; text-align:center; }
.contact .line h4{ margin-left:-19px}
.title h5{ font-weight:400; font-family:"微软雅黑"; font-size:14px; color:#333333; margin-left:40px; float:left; margin-top:6px}
.title h1{font-weight:400; font-family:"微软雅黑"; font-size:14px; color:#333333; margin-left:289px; float:left; margin-top:7px}
.line hr{ width:34px; margin:0px auto; height:18px; border-bottom:solid 1px #FFFFFF; display:block}
.title p{ color:#666666; font-size:12px; float:left; width:780px;  line-height:23px; text-indent:2em; margin-left:50px; margin-top:5px; }
.company{  width:1008px; margin-top:40px; padding-left:65px;float:left;}
.company li{ width:414px; height:325px; background:url(../images/1_indexpicture_07.gif); float:left; margin-left:89px;}
.company img{ margin-left:23px; margin-top:22px;width:369px;height:180px;}
.company h6{ font-weight:400; color:#333333; font-family:"微软雅黑"; font-size:14px; margin:0; margin-top:18px; margin-left:20px}
.company p{ width:350px; height:77px; font-size:12px; color:#666666; text-indent:2em; margin-top:11px; line-height:22px; margin-left:26px;}
.about .more{  font-weight:700; font-size:24px; color:#327ca3;  margin-top:343px; width:110px; float:left; height:30px; margin-left:15px; font-family:"宋体";}
.news{ width:1200px; height:489px; margin:0 auto; margin-top:54px; }
.news a{ color:#333333}
.news title{ width:1200px; height:111px; background:#e5e5e5}
.news img{ float:left; margin-left:21px; margin-top:8px}
.content{ list-style:none;  width:602px;  float:left; padding:0; margin:0; margin-left:10px; margin-top:9px}
.content li{ width:602px; height:76px; float:left; margin-bottom:20px; background:#2b6d90; position:relative;}
.content h5{ font-weight:400; float:left; margin:0; margin-left:10px; margin-top:6px; display:block}
.content a{font-weight:400; font-size:14px; color:#ffffff; font-family:"微软雅黑"; text-decoration:none}
.content i{ background:none; width:602px; height:77px}
.content span{ font-weight:400; float:right; margin:0; font-size:14px; color:#ffffff; font-family:"微软雅黑"; margin:4px 20px 0 0;}
.content p{ float:left; width:577px; font-size:12px; color:#ffffff; margin-left:25px; text-indent:2em; line-height:19px; margin-top:7px}
.content a.more{ width:45px; height:76px; float:right; text-align:center; line-height:76px; position:absolute; right:0; top:0; font-style:normal; font-size:24px; color:#ffffff; opacity:0; text-decoration:none}
.content li:hover .more{ background:#73b13b; opacity:0.8 }
#map{ width:1199px; height:389px; margin:0 auto;}
.pro{ width:1200px; height:510px; margin:0 auto; margin-top:38px}
.pro .nav{ width:790px; float:left; margin-left:60px; margin-top:16px; }
.pro .nav a{ display:block; width:66px; height:61px;  font-size:16px; text-align:center;color:#333333; float:left; line-height:61px; margin: 0 60px 0 60px; }
.pro .nav a:hover{ border-bottom:solid #327ca3 1px; color:#6594b1}
.pro .nav a.current{border-bottom:solid #327ca3 1px; color:#6594b1}
.contact-us{ width:1200px; height:502px;  margin:0 auto; margin-top:20px}
.infor{ float:left; height:66px;  margin-top:-35px; margin-left:464px; width:700px; }
.infor li{ float:left; width:331px;  height:32px; font-family:"微软雅黑"; font-size:12px}
.product{  width:1200px; margin:0 auto; position:relative;  margin-top:20px;}
.pro_detail{ float:left; overflow:hidden;width:1112px; margin-left:45px;}
.pro_detail ul{ width:2224px;}
.pro_detail li{float:left; width:260px; height:354px; margin-left:9px; margin-right:9px;}
.pro_detail li img{width:260px;height:353px;}
#prev{ float:left; cursor:pointer; background:url(../images/left.png) left center no-repeat; width:28px; height:360px; position:absolute;top:0; left:5px;z-index:100;}
#next{ float:right; cursor:pointer; background:url(../images/right.png) right center no-repeat; width:28px; height:360px; position:absolute; right:5px;}

