@charset "utf-8";
/* CSS Document */


.banner{ width:1920px; height:500px;left:50%; margin-left:-960px;position:relative; }

.news{ width:1200px; margin:0 auto; }
.subnav a.current{border-bottom:solid #327ca3 1px; color:#6594b1}

.subnav{ width:1200px; height:111px; background:#e5e5e5}
.title{ float:left; width:345px; height:110px;  background:url(../images/3-news_03.jpg)}
.subnav h2{ font-size:18px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:30px; margin-left:-60px}
.subnav h3{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:56px; margin-left:-54px}
.title span{ width:34px; height:19px; border-bottom:solid 1px #FFFFFF; margin-left:163px; float:left; display:block;}
.subnav ul{  height:40px; float:left; list-style:none; margin:0; margin-top:38px; margin-left:7px}
.subnav a{ float:left; margin-left:57px; margin-right:57px;  width:66px; height:51px; color:#464646; font-size:16px; text-align:center; font-size:16px; text-decoration:none;font-family:"微软雅黑"; font-weight:700;}
.subnav li{ float:left}
.subnav a:hover{border-bottom:solid #327ca3 1px; color:#6594b1}
.contact{ width:1175px;  list-style:none; float:left; padding:0; margin-left:24px; margin-top:46px}
.contact img{ float:left; border:solid 1px #FFFFFF}
.contact a{ display:block; width:438px; height:148px; float:left; background:#FFF}




.contact h1 a{ height:20px; background:#e5e5e5; color:#656565}
.contact h1{ color:#46697d; font-family:"微软雅黑"; font-size:14px; display:block; float:left; margin-top:10px; margin-left:2px;  margin-bottom:0;}
.contact p{ display:block; width:650px; height:40px; text-indent:2em; font-size:12px; font-family:"微软雅黑"; color:#333333; float:left; line-height:21px; margin-top:17px; margin-left:14px; margin-bottom:0}
.contact span{ display:block; padding:0 10px; height:22px; background:#327ca3; float:left; font-size:12px; color:#FFF;  line-height:22px; margin-top:22px; }
.contact li:hover img{ border:solid 1px #84b0c8}
.contact li:hover a{color:#557485; }
.contact li{ margin-bottom:31px; float:left; background:#e5e5e5}

.page{ width:1200px; height:37px; margin:30px auto;clear:both;overflow: hidden;}
.page div {height:35px; padding:0 50px; margin:0 auto;text-align: center;}
.page a.prev{ width:24px; height:24px; float:left; margin:10px 0 0 0; line-height:21px; text-align:center;   text-decoration:none; color:#387ba4; background:url(../images/circle_06.png) no-repeat}

.page ul{ list-style:none;  height:35px; margin:0 auto; padding:0;display:inline-block;}
.page ul li{width:35px;height:35px;margin-left:10px;float:left;}
.page a{  height:36px; background:url(../images/3-news_03.png) no-repeat;  text-align:center; line-height:34px; color:#387ba4; font-family:"微软雅黑"; display:block; text-decoration:none}
.page a.on{height:36px; background:url(../images/3-newsblue_06%20.png) no-repeat; text-align:center; line-height:34px; color:#FFF; font-family:"微软雅黑"; display:block; text-decoration:none}
.page a.point{  height:23px; color:#387ba4; font-size:12px; text-align:center; line-height:23px; margin-top:10px; font-weight:400; text-decoration:none; border:none; background:none; margin-left:-10px; letter-spacing:3px}
.page a.point:hover{ border:none; background:none; color:#387ba4;}
.page a.next{width:24px; height:24px;  margin:10px 0 0 0;  line-height:23px; text-align:center;  font-weight:400; text-decoration:none; color:#FFF; background:url(../images/circle_06.png) no-repeat; color:#387ba4}
.page a.next:hover{background:url(../images/3-buttom24_09.png) no-repeat;color:#FFF}
.page a.prev:hover{ background:url(../images/3-buttom24_09.png) no-repeat; color:#FFF}
.page a:hover{ background:url(../images/3-newsblue_06%20.png) no-repeat; color:#FFF}
