@charset "utf-8";
/* CSS Document */


.banner{ width:1920px; height:500px; left:50%; margin-left:-960px;position:relative; }

.subnav{ width:1200px; height:111px; background:#e5e5e5; margin:0 auto}
.title{ float:left; width:345px; height:110px;  background:url(../images/3-news_03.jpg)}
.subnav h2{ font-size:18px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:30px; margin-left:-60px}
.subnav h3{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:56px; margin-left:-54px}
.subnav h4{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:76px; margin-left:-53px}
.title span{ width:34px; height:19px; border-bottom:solid 1px #FFFFFF; margin-left:163px; float:left; display:block;}
.subnav ul{height:40px; float:left; list-style:none; margin:0; margin-top:38px; margin-left:7px}
.subnav li{ float:left }
.subnav a{ text-decoration:none;color:#464646; display:block; margin-left:57px; margin-right:57px;  width:66px; height:51px;   text-align:center; font-size:16px;font-family:"微软雅黑"; font-weight:700;}
.subnav a.current{ color:#6594b1}

.subnav a.current{ border-bottom:solid #327ca3 1px;color:#6594b1}
.subnav a:hover{border-bottom:solid #327ca3 1px; color:#6594b1;border-bottom:solid #327ca3 1px;}
.detail{ width:1175px; margin:0 auto; margin-top:45px; padding-left:25px}
.detail img{ float:left; margin-right:35px;}
/*.title{ }*/
.detail h1{ color:#333333; line-height:60px;  font-size:14px; font-family:"微软雅黑"; width:660px; height:50px;  border-bottom:solid 1px #387ba4;  margin-bottom:25px; float:left;padding-left:30px;}
.detail h1 span{color:#333333; font-size:12px; margin-left:145px; margin-top:30px;font-weight:400;}

.detail p{ font-size:12px; color:#333333; text-indent:2em ; line-height:25px; margin-top:25px; }
.detail hr{ height:1px; background:#3a7aa0; margin-top:70px; }
 h3{text-align: center;margin-top:30px;}
.flip{float:right;  width:200px; padding-bottom:5px;  margin-right:100px; margin-top:30px}
.flip a.next{ width:35px; height:36px;  float:left; margin:0; margin-top:10px; line-height:36px; text-align:center;  font-weight:400; text-decoration:none; color:#FFF;  background:url(../images/3-news_03.png); color:#387ba4; margin-left:25px}
.flip a.next:hover{ background:url(../images/3-newsblue_06%20.png); color:#FFF}
.flip a.prev{ width:35px; height:36px; background:url(../images/3-news_03.png); float:left; margin:0; margin-top:10px; line-height:36px; text-align:center;  margin-left:53px; text-decoration:none; color:#387ba4;  }


.flip a.prev:hover{ background:url(../images/3-newsblue_06%20.png); color:#FFF}
