@charset "utf-8";
/* CSS Document */


.banner{ width:1920px; height:500px; left:50%;  margin-left:-960px;position:relative; }

.procenter{ width:1200px; margin:0 auto}
.subnav{ width:1200px; height:113px; background:#e5e5e5}
.title{ float:left; width:345px; height:110px;  background:url(../images/3-news_03.jpg)}
.subnav h2{ font-size:18px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:30px; margin-left:-60px}
.subnav h3{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:56px; margin-left:-79px}
.subnav a{ text-decoration:none; color:#333333; margin-left:56px; margin-right:56px;  width:66px; height:59px; font-size:16px; text-align:center; display:block;font-family:"微软雅黑"; font-weight:700;}
.title span{ width:34px; height:19px; border-bottom:solid 1px #FFFFFF; margin-left:163px; float:left; display:block;}
.subnav ul{  height:40px; float:left; list-style:none; margin:0; margin-top:38px; margin-left:30px}
.subnav li{ float:left }
.subnav a:hover{border-bottom:solid #327ca3 1px; color:#327ca3}
.subnav a.current{border-bottom:solid #327ca3 1px;}
.subnav a.current{color:#327ca3}



.detail{ float:left; list-style:none; width:1216px; margin-left:-16px;  margin-top:26px; padding:0;}
.detail li{ float:left; margin-left:15px; width:289px; height:354px; margin-bottom:25px; position:relative;}
.detail a{ text-decoration:none; width:289px; height:354px;}
.detail li a span{ width:289px; height:42px; text-align:center;display:block; bottom:0; background:#3bc8f6; font-family:"微软雅黑"; font-size:20px; position:absolute; -khtml-opacity:0;-moz-opacity:0;filter:alpha(opacity=0);filter:"alpha(opacity=0)";opacity:0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
.detail li img{width:289px;height:353px;}
.detail li span{display:block;width:289px;height:42px;text-align:center;position:absolute;left:0;bottom:0;z-index:-1;}
.detail li span a{ position:relative; display:block; width:289px; height:42px; font-weight:normal; color:#294f76;-khtml-opacity:1;-moz-opacity:1;filter:alpha(opacity=100);filter:"alpha(opacity=100)";opacity:1; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); margin:0 auto }
.detail li:hover a span{-khtml-opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);filter:"alpha(opacity=60)";opacity:0.6; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);z-index:2;}
.detail li:hover span{z-index:3;}
.detail li:hover span a{margin-top:8px; font-family:"微软雅黑"; font-size:18px; z-index:4;}

.detail images{ margin:0; float:left}
.detail b{ display:block;margin-left:-25px;filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity:0;}
.detail li:hover b{ font-weight:400; filter:alpha(opacity=100);-moz-opacity:100; -khtml-opacity:100; opacity:1; color:#294f76; position:relative;}


.page{ width:1200px; height:37px; margin:30px auto;clear:both;overflow: hidden;}
.page div {height:35px; padding:0 50px; margin:0 auto;text-align: center;}
.page a.prev{ width:24px; height:24px; float:left; margin:10px 0 0 0; line-height:21px; text-align:center;   text-decoration:none; color:#387ba4; background:url(../images/circle_06.png) no-repeat}

.page ul{ list-style:none;  height:35px; margin:0 auto; padding:0;display:inline-block;}
.page ul li{width:35px;height:35px;margin-left:10px;float:left;}
.page a{  height:36px; background:url(../images/3-news_03.png) no-repeat;  text-align:center; line-height:34px; color:#387ba4; font-family:"微软雅黑"; display:block; text-decoration:none}
.page a.on{height:36px; background:url(../images/3-newsblue_06%20.png) no-repeat; text-align:center; line-height:34px; color:#FFF; font-family:"微软雅黑"; display:block; text-decoration:none}
.page a.point{  height:23px; color:#387ba4; font-size:12px; text-align:center; line-height:23px; margin-top:10px; font-weight:400; text-decoration:none; border:none; background:none; margin-left:-10px; letter-spacing:3px}
.page a.point:hover{ border:none; background:none; color:#387ba4;}
.page a.next{width:24px; height:24px;  margin:10px 0 0 0;  line-height:23px; text-align:center;  font-weight:400; text-decoration:none; color:#FFF; background:url(../images/circle_06.png) no-repeat; color:#387ba4}
.page a.next:hover{background:url(../images/3-buttom24_09.png) no-repeat;color:#FFF}
.page a.prev:hover{ background:url(../images/3-buttom24_09.png) no-repeat; color:#FFF}
.page a:hover{ background:url(../images/3-newsblue_06%20.png) no-repeat; color:#FFF}


