
<title>后台欢迎页</title>
<!-- End .clear -->
<div class="content-box">
  <!-- Start Content Box -->
  <div class="content-box-header">
    <h3>后台欢迎页</h3>
    <div class="clear"></div>
  </div>
  <!-- End .content-box-header -->
  <img src="resources/images/welcome.png" style="width:100%"/>
</div>
<!-- End .content-box-content -->