<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>商品新增</h3>
        <ul class="content-box-tabs">

            <!-- href must be unique and match the id of target div -->
            <li><a href="#tab2" class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">


        <div class="tab-content default-tab" id="tab2">
            <form action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
                    <p>
                        <label>产品名称</label>
                        <input class="text-input small-input" type="text" id="small-input" name="name" />
                    </p>
                    <p>
                        <label>简介</label>
                        <input class="text-input medium-input datepicker" type="text" id="medium-input" name="des" />
                    </p>
                    <p>
                        <label>内容</label>
                        <textarea class="text-input textarea wysiwyg" id="textarea" name="content" cols="79" rows="15"></textarea>
                    </p>
                    <p>
                        <label>选择图片</label>
                        <input type="file" name="images[]" multiple="multiple"/>
                    </p>
                    <p>
                        <input class="button" type="submit" value="Submit" />
                    </p>
                </fieldset>
                <div class="clear"></div>
                <!-- End .clear -->
            </form>
        </div>
        <!-- End #tab2 -->
    </div>
    <!-- End .content-box-content -->
</div>