
		<link rel="stylesheet" href="css/pro_center.css" />
		<script type="text/javascript" src="js/jquery.touchSwipe.min.js" ></script>
		<script src="js/lunbo.js"></script>
		<script type="text/javascript" src="js/pro_center.js" ></script>
		<title>产品详情</title>

	<body>
		<!--header-->
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="login">
						<ul class="nav-pills">
							<li>
								<a href="{:U('login/login')}">登录</a>
							</li>
							<li>丨</li>
							<li>
								<a href="{:U('register/register')}">注册</a>
							</li>
						</ul>
					</div>
					<div class="car">
						<a href="{:U('purchase/shop_cart')}">
							<img src="images/index_img/car.png" /> 我的购物车
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->

		<!--nav-->
		<div class="main_nav">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
						<div class="logo">
							<a href="{:U('index/index')}"><img src="images/index_img/logo.jpg" title="欢迎进入凯涛奇" /></a>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{:U('index/index')}">首页</a></li>
							<li><a href="{:U('about/brand_introduction')}">品牌介绍</a></li>
							<li><a href="{:U('news/news')}" class="active">新闻中心</a></li>
							<li><a href="{:U('product/pro_list')}">产品中心</a></li>
							<li><a href="{:U('contact/contact_us')}">联系我们</a></li>
							<li><a href="{:U('user/user')}">会员中心</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--nav end-->

		<!--banner-->
		<div id="myCarousel" class="carousel slide">
			<!-- 轮播（Carousel）指标 -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/index_img/banner01.jpg">
				</div>
				<div class="item">
					<img src="images/index_img/banner02.jpg">
				</div>
				<div class="item">
					<img src="images/index_img/banner03.jpg">
				</div>
			</div>
		</div>
		<!--banner end-->

		<!--content-->
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text">
						<div class="up">
							<span>产品中心</span>
						</div>
						<div class="down">
							<ul>
								<li>
									<a class="on" href="pro_list.html">乐吧薯片</a>
								</li>
								<li>
									<a href="###">精美糕点</a>
								</li>
								<li>
									<a href="###">舒为逍食</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-10 col-md-9 col-sm-9 main_pro">
						<div class="head_nav">
							<p>
								<a href="pro_list.html">产品中心></a>
								<a href="pro_list.html">乐吧薯片></a>
								<a>凯涛奇乐吧硬脆...</a>
							</p>
						</div>
						<div class="main">
							<div class="col-md-5">
								<img class="img-responsive" src="images/pro_list_img/pro_pic.jpg" />
							</div>
							<div class="col-md-6 word">
								<h3>凯涛奇乐吧硬脆薯片（芝士味）50g/支</h3>
								<p>价格：3元</p>
								<p>促销价格：2.5</p>
								<p>评价：已有35151人评价</p>
								<p>运费：天津 至 北京 &nbsp;&nbsp;&nbsp;快递: 0.00</p>
								<div class="mun">
									<span>购买数量：</span>
									<span id="reduce" disabled="disabled" onclick="reduce()">-</span>
									<input type="text" value="1" id="prd_num" maxlength="2" readonly="readonly" />
									<span id="add" onclick="add()">+</span>
								</div>
								<div class="buy">
									<a href="confirm_order.html">立即购买</a>
									<a href="shop_cart.html">加入购物车</a>
								</div>
							</div>
						</div>
						<div class="details_list">
							<ul class="nav nav-tabs">
								<li class="col-md-4 col-sm-4">
									<a href="#first" data-toggle="tab">产品描述</a>
								</li>
								<li class="col-md-4 col-sm-4 active">
									<a href="#second" data-toggle="tab">规格参数</a>
								</li>
								<li class="col-md-4 col-sm-4">
									<a href="#third" data-toggle="tab">产品评价</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="first">
									<div class="col-md-4">
										<p>生产许可证编号：QS1214 1202 0007</p>
										<p>厂家联系方式：029-84265593</p>
										<p>保质期：365 天</p>
										<p>包装方式: 包装</p>
										<p>商品条形码: 6930799506893</p>
										<p>同城服务: 同城物流送货上门</p>
										<p>省份: 天津</p>
									</div>
									<div class="col-md-4">
										<p>厂名：天津凯涛奇食品有限公司</p>
										<p>配料表：马铃薯淀粉、精炼植...</p>
										<p>食品添加剂：见包装</p>
										<p>品牌: 乐吧</p>
										<p>是否为有机食品: 否</p>
										<p>是否含糖: 含糖</p>
									</div>
									<div class="col-md-4">
										<p>厂址：天津市武清开发区泉兴路14号，...</p>
										<p>储藏方法：请置于阴凉干燥处，密封保存。</p>
										<p>净含量: 1000g</p>
										<p>系列: 乐吧薯片1000g组合</p>
										<p>膨化食品种类: 薯片</p>
										<p>产地: 中国大陆</p>
									</div>
								</div>
								<div class="tab-pane fade in" id="second">
									<div class="col-md-4">
										<p>生产许可证编号：QS1214 1202 0007</p>
										<p>厂家联系方式：029-84265593</p>
										<p>保质期：365 天</p>
										<p>包装方式: 包装</p>
										<p>商品条形码: 6930799506893</p>
										<p>同城服务: 同城物流送货上门</p>
										<p>省份: 天津</p>
									</div>
									<div class="col-md-4">
										<p>厂名：天津凯涛奇食品有限公司</p>
										<p>配料表：马铃薯淀粉、精炼植...</p>
										<p>食品添加剂：见包装</p>
										<p>品牌: 乐吧</p>
										<p>是否为有机食品: 否</p>
										<p>是否含糖: 含糖</p>
									</div>
									<div class="col-md-4">
										<p>厂址：天津市武清开发区泉兴路14号，...</p>
										<p>储藏方法：请置于阴凉干燥处，密封保存。</p>
										<p>净含量: 1000g</p>
										<p>系列: 乐吧薯片1000g组合</p>
										<p>膨化食品种类: 薯片</p>
										<p>产地: 中国大陆</p>
									</div>
								</div>
								<div class="tab-pane fade in" id="third">
									<div class="col-md-4">
										<p>6666：QS1214 1202 0007</p>
										<p>厂家联系方式：029-84265593</p>
										<p>保质期：365 天</p>
										<p>包装方式: 包装</p>
										<p>商品条形码: 6930799506893</p>
										<p>同城服务: 同城物流送货上门</p>
										<p>省份: 天津</p>
									</div>
									<div class="col-md-4">
										<p>厂名：天津凯涛奇食品有限公司</p>
										<p>配料表：马铃薯淀粉、精炼植...</p>
										<p>食品添加剂：见包装</p>
										<p>品牌: 乐吧</p>
										<p>是否为有机食品: 否</p>
										<p>是否含糖: 含糖</p>
									</div>
									<div class="col-md-4">
										<p>厂址：天津市武清开发区泉兴路14号，...</p>
										<p>储藏方法：请置于阴凉干燥处，密封保存。</p>
										<p>净含量: 1000g</p>
										<p>系列: 乐吧薯片1000g组合</p>
										<p>膨化食品种类: 薯片</p>
										<p>产地: 中国大陆</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--content end-->

		