 <ul class="shortcut-buttons-set">
		  <li><a class="shortcut-button" id="addbtn" href="javascript:;"><span> <img src="<?=RES;?>images/icons/paper_content_pencil_48.png" alt="icon" /><br />
		    添加 </span></a></li>		  
		  <li><a class="shortcut-button" id="deletebtn" href="javascript:;"><span> <img src="<?=RES;?>images/icons/del.png" alt="icon" /><br />删除</span></a></li>
		  
		  <li><a class="shortcut-button" id="order" href="javascript:;"><span><img src="<?=RES;?>images/icons/clock_48.png" alt="icon" /><br />按时间正序</span></a></li>			
			
		 
	</ul> 
	<p class="findbox"><input  id="findbox" type="text" name="find" /><a href="javascript:;" ><img src="<?=RES;?>images/icons/find.png"  alt="..." /></a></p>
	<div class="clear"></div>

	<!-- End .shortcut-buttons-set -->
	<div class="clear"></div>
	<!-- End .clear -->
<div class="content-box">
  <!-- Start Content Box -->
  <div class="content-box-header">
		<h3>新闻列表</h3>  
    <ul class="content-box-tabs">
        <li><a href="#tab1" class="default-tab">Table</a></li>
        <!-- href must be unique and match the id of target div -->       
    </ul>
    <div class="clear"></div>
  </div>
  <!-- End .content-box-header -->
  <div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">          
     
    </div>
    <!-- End #tab1 -->
    
  </div>
  <!-- End .content-box-content -->
</div>
<!-- End .content-box -->
<script>
	var curtabpage=1;
    $(function(){
     
		var url='index.php?m=admin&c=news&a=gettab&curpage=<?=$curpage;?>';
		gettab(url);


    });

	$(document).on('click',".pagination a",function(){
		var url=$(this).attr('href');
		gettab(url);
		return false;
	});

    function gettab(url){
		
       $.ajax({
			url:url,
			type:'get',
			success:function(msg){
				$("#tab1").html(msg);
			},


      });
    }


		$('#addbtn').click(function(){			
			window.location="<?=$GLOBALS['currController'].'&a=add'?>";				
		});
		
		
		
		$('#deletebtn').click(function(){		
			
			var id="";
			$.each($("input[name='checkbox']:checked"),function(){
				id+="|"+$(this).val();
				
			});
			
			if(id!=""){
				id=id.substring(1);
				if(confirm("确定删除该记录吗?删除后不可恢复。")){
						window.location="<?=$GLOBALS['currController'].'&a=del'?>&id="+id;		
				} 
			
				 
			}else{
				alert("请先选中一行");
			}		
				
		});
		
		function delOne(idstr,pagestr){
			if(confirm("确定删除该记录吗?删除后不可恢复。")){
					
					window.location="<?= $GLOBALS['currController'];?>"+"&a=del&curpage="+pagestr+"&id="+idstr;
			} 
			
			
		}
		
		function editOne(idstr,pagestr){
			
			window.location="<?= $GLOBALS['currController'];?>"+"&a=edit&curpage="+pagestr+"&id="+idstr;
    }
    
    $(document).on("click",".checktop",function(){
				var id=$(this).val();
				var status=$(this).is(":checked")?"1":"0";
				//alert(status);
			 $.post("<?=$GLOBALS['currController'].'&a=checktop'?>",{top:status,id:id},function(msg){
					if(msg!="1"){
							alert(msg);
							$(this).prop("checked",false);
					}
			 });
		});
		

		$(".findbox a").click(function(){
			
			$findstr=$("#findbox").val();
			var url='index.php?m=admin&c=news&a=gettab&curpage=<?=$curpage;?>&findstr='+$findstr;
			gettab(url);
	
		});

		$("#order").click(function(){
			var url='index.php?m=admin&c=news&a=gettab&curpage=<?=$curpage;?>&order=asc';
			gettab(url);
		});
</script>