    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>    
           
            <p>
              <label>名称</label>
              <input class="text-input medium-input datepicker" type="text" id="medium-input" name="name" />
            </p>  
           
            <input type='hidden' value='0' name='pid' />
             <p>
              <label>所属类别</label>
              <select>
                <option value='0'>顶级分类</option>
                  <?php
                  
                    foreach($rows as $v){
                        echo "<option value='{$v['id']}'>{$v['level']}{$v['name']}</option>";
                    }
                  
                  ?>

              </select>
              
            </p>
            
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
    <script>
	   
      $('#tab2 select').change(function(){
         var $v=$(this).val();
          $("#tab2 input[name='pid']").val($v);

      });
  	</script>
	    