 <table>
        <thead>
          <tr>
            <th>
              <input class="check-all" type="checkbox" />ID
            </th>
            
            <th>名称</th>
            <th>PID</th>            
             <th>操作</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="6">
              <div class="bulk-actions align-left">
               
              </div>             
              <div class="clear"></div>
            </td>
          </tr>
        </tfoot>
        <tbody>
        <?php foreach($rows as $value): ?>
          <tr>
            <td><input type="checkbox" name="checkbox" value="<?=$value['id'];?>" /><?=$value['id'];?></td>
            <td><a href="#" title="title"><?=$value['level'].$value['name'];?></a></td>
            <td><?=$value['pid'];?></td>           
            <td>              
              <a href="javascript:;"  onclick="editOne(<?=$value['id']?>)" title="编辑">
              <img src="resources/images/icons/pencil.png" alt="Edit" /></a> 
              <a href="javascript:;" onclick="delOne(<?=$value['id']?>)" title="删除">
              <img src="resources/images/icons/cross.png" alt="Delete" /></a>             
            </td>
          </tr>
         <?php endforeach; ?>
        </tbody>
      </table>
    