<div class="banner">
  <ul class="banner_img">
    <?php
      $banarr=explode('|',$banner);
      foreach($banarr as $v){
           echo "<li><img src='$v' alt='...'  /></li>";
      }
    ?>  
  </ul> 
  <ul class="banner_btn">
    <li class="current"></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="about">
<div class="title">
<div class="line">
	<hr />
    <h2>关于润木</h2>
    <h3>About</h3>
    <h4>Runmu</h4>
 </div>
 
 <h5>润木服饰有限公司：</h5>
<p><?=mb_substr(strip_tags($about1['content']),0,180,'utf-8')?>......</p>
</div>
    <ul class="company">
        <li>
        <a href="index.php?m=site&c=about&a=index&currcate=<?=$about2['category']?>"><img src="<?=$about2['image']?>"  /></a>        
        <p><?=mb_substr(strip_tags($about2['content']),0,100,'utf-8')?>......</p>
        </li>
        <li>
        <a href="index.php?m=site&c=about&a=index&currcate=<?=$about3['category']?>"><img src="<?=$about3['image']?>"  /></a>
        <p><?=mb_substr(strip_tags($about3['content']),0,100,'utf-8')?>......</p>
       </li>
    </ul>
<a class="more" href="index.php?m=site&c=about">MORE >></a>
</div>
<div class="news">
    <div class="title">
    <div class="line">
        <hr />
        <h2>新闻中心</h2>
        <h3>About</h3>
        <h4>NEWS</h4>
     </div>
     <h1><a href="index.php?m=site&c=news&a=details&id=<?=$newstop['id']?>"><?=$newstop['title']?></a></h1>
    <p><?=mb_substr(strip_tags($newstop['content']),0,150,"utf-8") ?></p>
    </div>
<a href="index.php?m=site&c=news&a=details&id=<?=$newstop['id']?>"><img style="width:559px;height:366px;" src="<?=$newstop['image']?>"  /></a>
<ul class="content">
  <?php
    foreach($news as $v){
  ?>
      <li>
        <h5><a href="index.php?m=site&c=news&a=details&id=<?=$v['id']?>"><?=$v['title'] ?></a></h5>
        <span><?=date('Y-m-d',$v['time']) ?></span>
        <p><?=mb_substr(strip_tags($v['content']),0,80,"utf-8")?>...</p>
        <i><a class="more" href="index.php?m=site&c=news&a=details&id=<?=$v['id']?>">+</a></i>
      </li>
  <?php
    }  
  ?>
</ul>
</div>
<div class="pro">
<div class="title">
	<div class="line">
        <hr />
        <h2>产品中心</h2>
        <h3>About</h3>
        <h4>PRODUCT</h4>
     </div>    
<ul class="nav">
      	<?php foreach($pro_category as $v){ ?>
				<li ><a   href="<?='index.php?m=site&c=product&a=index&category='.$v['id']?>"><?=$v['name']?></a></li>
			<?php }	?>
</ul>  
</div>
<div class="product">
        <div id="prev"></div>
        	<div class="pro_detail">
              <ul>

                <?php  foreach($product as $prov){ ?>
                       <li><a href="index.php?m=site&c=product&a=details&id=<?=$prov['id']?>"><img src="<?=explode('|',$prov['images'])[0]?>"  /></a> </li>

                  <?php }    ?>
             
              </ul>  
            </div>
        <div id="next"></div>
    </div>
</div>
<div class="contact-us">
<div class="title">
	<div class="line">
        <hr />
        <h2>联系我们</h2>
        <h4>CONTACT US</h4>
      <ul class="infor">
        <li>公司电话：<?=$tel?></li>
        <li>公司联系人：：<?=$contact?></li>
        <li>公司邮箱：：<?=$mail?></li>
        <li>公司地址：：<?=$addr?></li>
        
      </ul>
    </div>	
</div>
<div id="map"></div>
</div>
